@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';
.Footer {
	color: $dark_4;
	div {
		div {
			h3 {
				margin-bottom: 0;
			}
			a {
				@include link($dark_4, $secondary);
				color: $dark_4;
				display: block;
				text-decoration: none;
				overflow: hidden;
				background: linear-gradient(
					to right,
					$secondary,
					$secondary 50%,
					$dark_4 50%
				);
				-webkit-text-fill-color: transparent;
				background-clip: text;
				-webkit-background-clip: text;
				background-size: 200% 100%;
				background-position: 100%;
				transition: background-position 500ms ease;
				&:hover {
					background-position: 0 100%;
					transition: background-position 500ms ease;
				}
			}
		}
	}
}
.social {
	a {
		&:nth-of-type(n + 2) {
			margin-left: 2rem;
		}
		svg {
			color: $secondary;
		}
		&:hover {
			svg {
				color: $secondary-darker;
			}
		}
	}
}
.a {
	margin-bottom: 1rem;
}
.button {
	margin-top: 1.25rem;
	@include btn(transparent, $secondary);
}
.padSection {
	padding: 8rem 0;
	@include mq('md-down') {
		padding: 4rem 0;
		> div {
			section {
				&:nth-of-type(n + 3) {
					margin-top: 2.5rem;
				}
			}
		}
	}
	@include mq('sm-down') {
		> div {
			section {
				&:nth-of-type(n + 2) {
					margin-top: 2.5rem;
				}
			}
		}
	}
}
