@import '../../assets/scss/colors';
.Footer {
	color: $dark_4;
	> div {
		padding: 8rem 0;
		div {
			h3 {
				margin-bottom: 1.5rem;
			}
			a {
				color: $dark_4;
				display: block;
				text-decoration: none;
				&:hover {
					color: $secondary;
				}
			}
		}
	}
}
.social {
	a {
		&:nth-of-type(n + 2) {
			margin-left: 2rem;
		}
		svg {
			color: $secondary;
		}
		&:hover {
			svg {
				color: $secondary-darker;
			}
		}
	}
}
.touch {
}
