@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';
.Hero {
	@include mq('lg') {
		display: grid;
		grid-template-rows: minmax(9rem, 1fr) auto minmax(41rem, 1.35fr);
		justify-content: center;
		align-items: center;
	}
	@include mq('md-down') {
		padding-top: 12rem;
	}
	@include mq('sm-down') {
		padding-top: 9rem;
	}
	height: 100vh;
	max-height: 90rem;
	overflow-x: hidden;
	background-image: url('./brain.gif');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	h1 {
		text-align: center;
		grid-row-start: 2;
		z-index: 1;
		position: relative;
		justify-self: center;
		align-self: flex-end;
		@include mq('sm-down') {
			font-size: 1.55rem;
		}
	}
}
.overlay {
	position: absolute;
	background-color: transparentize($dark_0, 0.8);
	@include mq('sm-down') {
		background-color: transparentize($dark_0, 0.2);
	}
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	max-height: 90rem;
}
.Carousel {
	grid-row-start: 3;
	z-index: 1;
	position: relative;
	display: grid;
	grid-template-areas:
		'prev cont next'
		' . indic . ';
	grid-template-columns: 0.5fr 1fr 0.5fr;
	grid-template-rows: 1fr 5rem;
	@include mq('sm-down') {
		grid-template-columns: 0.15fr 1fr 0.15fr;
	}
	width: 100vw;
	height: 100%;
	h2 {
		@include mq('md-down') {
			font-size: 4.5rem;
		}
		@include mq('sm-down') {
			font-size: 2rem;
		}
	}
	ol {
		grid-area: indic;
		li {
			width: 1.25rem;
			height: 1.25rem;
			border-radius: 50%;
		}
	}
	> div {
		grid-area: cont;
		text-align: center;
		display: flex;
		align-items: flex-start;
		p {
			font-weight: 500;
			@include mq('sm-down') {
				font-size: 1.25rem;
			}
		}
		a {
			@include btn(transparent, $primary);
			margin-left: 0 !important;
		}
	}
	a {
		grid-area: next;
		align-self: flex-start;
		position: relative;
		margin-top: 3rem;
		margin-left: auto;
		margin-right: 2rem;
		@include mq('sm-down') {
			margin-right: 1rem;
		}
		&:first-of-type {
			grid-area: prev;
			margin-left: 2rem;
			margin-right: auto;
			@include mq('sm-down') {
				margin-left: 1rem;
			}
		}
		i {
			@include mq('sm-down') {
				font-size: 2rem;
			}
		}
	}
}
.shadow {
	text-shadow: -2px -2px 2px rgb(0, 0, 0);
}
