.Reviews {
	background-image: url('../../assets/images/opaq-bg-lines.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.carousel {
	h3 {
		min-height: 5.3125rem;
	}
	ol {
		bottom: -3.4375rem;
	}
}
