@import '../../assets/scss/_mixins.scss';
.Portfolio {
	background-image: url('../../assets/images/bg-comp-color.png');
	background-repeat: no-repeat;
}
.srl {
	p {
		font-family: 'VOX';
		font-size: 1.5rem;
		max-width: 50rem;
		margin-top: -6rem;
		@include mq('sm-down') {
			font-size: 1.15rem;
		}
	}
}
