.Title {
	display: grid;
	margin-bottom: 3.25rem;
}
.title {
	grid-row-start: 2;
	max-width: 45rem;
	margin-bottom: 1.5rem;
}
.pre {
	grid-row-start: 1;
}
.p {
	max-width: 35rem;
}
.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
