@import '../../assets/scss/colors';
.Hr {
	width: 4rem;
	height: 0.1875rem;
	margin-bottom: 1.25rem;
}
.left {
	margin-left: 0;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
.right {
	margin-right: 0;
}

.secondary {
	background: $secondary_darker;
	background: linear-gradient(
		90deg,
		$secondary_darker 0%,
		$secondary 35%,
		$secondary_subtle 100%
	);
}

.primary {
	background: $primary_darker;
	background: linear-gradient(
		90deg,
		$primary_darker 0%,
		$primary 35%,
		$primary_subtle 100%
	);
}

.vertical {
	width: 0.1875rem;
	height: 4rem;
	margin-bottom: 0;
	background: linear-gradient(0deg);
}
