.Hero {
	padding-top: 12rem;
	padding-bottom: 3rem;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.title {
	margin-bottom: 0;
}
.Post {
	background-color: #dedede;
}
