@import '../assets/scss/grid';
@import '../assets/scss/colors';
@import '../assets/scss/typography';
@import '../assets/scss/buttons';

.z-line {
	z-index: 3;
}

$btn-border-radius-lg: 1.625rem;
$btn-padding-x-lg: 4rem;

@import '~bootstrap/scss/bootstrap';

@import '../assets/scss/inputs';

li.active {
	background-color: $primary;
}
